aniso8601
asgiref
attrs
crispy-bootstrap4
coreapi
Django
django-admin-interface
django-colorfield
django-cors-headers
django-crispy-forms
django-extra-fields
djangorestframework
djangorestframework-simplejwt
django-import_export
drf-extra-fields
drf-yasg
filetype
graphene
graphene-django
graphql-core
graphql-relay
inflection
jsonschema
jsonschema-specifications
packaging
Pillow
promise
psycopg2
PyJWT
python-slugify
pytz
PyYAML
referencing
rpds-py
setuptools
six
sqlparse
swagger-spec-validator
text-unidecode
typing_extensions
tzdata
uritemplate
whitenoise
